extends layout
block content
    h1 #{title}
    p 
      | Leading the beauty world, our mission at Glitter n’ Gloss is to create a 
      | welcoming beauty shopping experience for all and inspire confidence in our 
      | community. We operate worldwide, with a user friendly website. Since the start of 
      | the company, Glitter n’ Gloss has been an industry-leading champion of beauty in the
      | world, guided by our longstanding company values. We believe all women should feel 
      | beautiful. We provide the highest quality products made from all natural ingredients
      | that are healthy and beneficial for your skin. Once you start you can’t stop. There
      | are expert customer service artists to help you choose what you will be satisfied with.