extends layout
block content
    h1 #{title}
    p #{content}
    table
      tr
        th Description
        th Price
        th Color
  
        tr
          td Foundation
          td $10.00
          td Pale

        tr
          td Foundation
          td $10.00
          td Dark
 
        tr
          td Foundation
          td $10.00
          td Me