extends layout
block content
    h1 #{title}
    p #{content}
    form( method="POST" action='/register_action')
        h1 Register
        input(type="text" name="username" placeholder="username" required)
        br
        input(type="password" name="password" placeholder="password" required)
        br
        input(type = "password" name="confirmpassword" placeholder="confirmpassword" required)
        br
        input(type="submit" name="submit" value="Register")
